* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
  margin: 0;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

/* ///////////////..... HEADER ...../////////////// */
header .container {
  height: 120px;
}

header .container.flex-container {
  align-items: center;
  justify-content: space-between;
}

.flex-container-nav {
  width: 50%;
  justify-content: space-between;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

header .mobile-nav {
  display: none;
}

header .mobile-nav .flex-container {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 7%;
  width: 86%;
}

header .mobile-nav a {
  color: black;
}

header .mobile-nav .flex-container a {
  background-color: #3ab54a;
  width: 100%;
  display: block;
  text-align: center;
  border-color: rgb(121, 121, 121);
  border-style: solid;
  border-width: 0 1px 1px 1px;
  margin: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.618);
  font-weight: 100;
  border-radius: 5px;
}

header .mobile-nav .flex-container a:hover {
  background-color: #49d55c;
}

.about .main-nav .about {
  border-bottom: 2px solid black;
}

.services .main-nav .services {
  border-bottom: 2px solid black;
}

.news-page .main-nav .news {
  border-bottom: 2px solid black;
}

.single-news .main-nav .news {
  border-bottom: 2px solid black;
}

.contact .main-nav .contact {
  border-bottom: 2px solid black;
}

.th .main-nav .contact {
  border-bottom: 2px solid black;
}

/* ///////////////..... HERO ...../////////////// */
.hero {
  margin-bottom: 45px;
}

.hero .container-background {
  background-image: url("../images/img/skyscaper_panorama_resized_new.jpg");
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1920px;
  height: 915px;
  position: absolute;
  z-index: -1;
  margin: auto;
  left: 0;
  right: 0;
}

.hero .container h1 {
  color: white;
  font-size: 5rem;
  padding: 250px 540px 0 0;
  line-height: 4.8rem;
  margin-bottom: 25px;
}

.hero-header p {
  color: white;
  font-size: 1.5rem;
  padding-right: 550px;
  margin-bottom: 50px;
  line-height: 2rem;
}

.btn {
  color: white;
  text-decoration: none;
  padding: 20px 20px;
  display: inline-block;
  text-align: center;
  width: 170px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

.btn-black {
  background-color: #000000;
}

.btn-green {
  background-color: #3ab54a;
  margin-left: 10px;
}

.hero-footer {
  margin-top: 100px;
  background-color: white;
}

.hero-footer .left-tile {
  flex: 45%;
}
.hero-footer .right-tile {
  flex: 45%;
}

.responsive {
  width: 100%;
  height: auto;
}

.hero-footer h3 {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 80px 100px 30px 50px;
}

.hero-footer p {
  font-size: 1rem;
  padding: 0 150px 50px 50px;
}

/* ///////////////..... ABOUT ...../////////////// */

.about .header-two-tiles {
  margin-bottom: 50px;
}

.about .header-two-tiles h2 {
  width: 50%;
  font-size: 3.45rem;
  color: #3ab54a;
  padding-right: 50px;
}

.about .header-two-tiles p {
  width: 50%;
  padding-top: 90px;
}

.about .header-number-tiles.flex-container {
  justify-content: space-around;
  text-align: center;
}

.about .header-number-tiles .number {
  font-size: 3.45rem;
  font-weight: 700;
}

.about .header-number-tiles .text {
  font-size: 1.3rem;
  color: rgb(136, 136, 136);
}
.about .container-background {
  background-color: #f6fff7;
  background-position: center;
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 120px;
  height: 860px;
  position: relative;
}

.company-value-left-tile .tile-wrapper {
  max-width: 575px;
  height: auto;
  float: right;
}

.company-value-tile {
  flex: 45%;
  justify-content: space-between;
}

.green-box {
  position: absolute;
  height: 100%;
  width: 50%;
  background-color: #3ab54a;
  right: 0;
  top: -20px;
}

.about .container-background img {
  position: relative;
  margin-top: 110px;
  width: 98%;
  height: auto;
  right: 0;
  float: right;
}

.two-color-h3 {
  font-size: 2.25rem;
  margin-bottom: 60px;
  margin-top: 140px;
}

.two-color-h3 h3:first-child {
  color: #3ab54a;
  margin-right: 15px;
}

.two-color-h3 h3:last-child {
  color: #000000;
}

.about .about-text {
  padding-right: 30px;
  color: #8c8c8c;
}

.about .about-text .about-text-left {
  padding: 40px 0 0 0;
}

.about .about-text .about-text-left i {
  margin-right: 20px;
  color: #3ab54a;
}

.about .btn-green {
  margin-top: 50px;
}

/* ///////////////..... SERVICES ...../////////////// */

.services .two-color-h3 {
  justify-content: center;
  margin-top: 120px;
}

.services .business-solutions .flex-container .tile {
  flex: 45%;
}

.services .business-solutions .flex-container .left-tile {
  align-self: center;
}

.services .business-solutions .tick-with-text i {
  margin-right: 0;
  align-self: center;
  flex: 5%;
}

.services .business-solutions .tick-with-text p {
  flex: 90%;
}

.index .services img {
  margin-right: 35px;
  width: 70px;
  height: 60px;
}

.services-tiles {
  flex-wrap: wrap;
}

.services-tile {
  flex: 30%;
  margin-bottom: 50px;
  padding-right: 30px;
  margin-left: 30px;
  margin-right: auto;
}

.services-tiles h4 {
  font-size: 1.31rem;
  margin-bottom: 15px;
}

.services-tiles p {
  color: #8c8c8c;
}

.btn-centered {
  margin: 30px auto 0 auto;
  justify-content: center;
}

.full-background-color {
  width: 100%;
  right: 0px;
}
.customers .full-background-color {
  position: absolute;
  z-index: -1;
  background-color: #3ab54a;
  height: 650px;
  margin-top: 70px;
}

.section-header {
  color: white;
  padding: 160px 100px 0px 100px;
  text-align: center;
}

.section-header h2 {
  font-size: 3.75rem;
  line-height: 3.5rem;
  margin-bottom: 40px;
}

.section-header p {
  padding: 0px 100px 0px 100px;
}

.customer-image {
  margin-top: 100px;
  background-image: url(../images/img/meeting.jpg);
  max-width: 1150px;
}

.customer-background {
  max-width: 1150px;
  color: white;
  backdrop-filter: brightness(0.6);
}

.customer-image .text {
  padding: 180px 350px 250px 150px;
}

.roboto-italic-27 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1.7rem;
}

.customer-image .text p:nth-child(2) {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 50px;
  margin-bottom: 20px;
}

.customer-image .text p:nth-child(3) {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
}

.customers-footer {
  justify-content: space-between;
  margin: 50px 0;
  flex-wrap: wrap;
}

.customers-footer img {
  max-width: 290px;
  min-width: 150px;
  height: auto;
  flex: 25%;
  display: block;
}

.round-image {
  border-radius: 50%;
  margin-right: 20px;
}

.client-says-tile img {
  margin-right: 20px;
}

/* //////////////////..... NEWS .....////////////////// */

.news {
  margin-top: 120px;
}

.news .two-color-h3 {
  justify-content: center;
  margin-top: 0px;
}
.news-tiles {
  justify-content: space-between;
  margin-top: 70px;
  flex-wrap: wrap;
}

.tile-of-news {
  max-width: 370px;
  height: 560px;
  margin-bottom: 20px;
}

.tile-of-news .wrapper {
  height: 250px;
  max-width: 368px;
}

.tile-of-news .wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tile-of-news h5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 30px;
}

.tile-of-news .tile-body {
  margin-top: 30px;
  margin-bottom: 25px;
}

.tile-of-news .tile-footer {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  color: #3ab54a;
}

/* //////////////////..... FOOTER .....//////////////////*/

.footer .full-background-color-green {
  background-color: #3ab54a;
  min-height: 290px;
  margin-top: 80px;
}

.footer .left-tile {
  color: white;
}

.footer .left-tile h3 {
  font-size: 2.75rem;
  margin-top: 80px;
  margin-bottom: 30px;
}

.footer .left-tile p {
  padding-right: 400px;
  font-weight: 300;
}

.btn-white {
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
}

.footer .btn {
  margin-top: 120px;
}

.footer .full-background-color-black {
  margin-top: 0;
  background-color: #141414;
  min-height: 500px;
  color: #b3b3b3;
}

.footer .full-background-color-black > .container {
  padding-top: 150px;
  justify-content: space-between;
}
.footer .full-background-color-black .tile {
  max-width: 230px;
}

.footer .full-background-color-black .tile h5 {
  font-size: 1.3rem;
  margin-bottom: 30px;
  color: white;
}

.footer li {
  list-style: none;
  margin: 15px 0;
}

.footer li span {
  margin-left: 10px;
}

.footer .full-background-color-black .tile a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #b3b3b3;
}

.footer .full-background-color-black .tile a:hover {
  color: #3ab54a;
}

.footer .full-background-color-black .tile:nth-child(1) p {
  margin: 35px 0;
  font-family: "Open Sans", sans-serif;
}

.footer .full-background-color-black .tile:nth-child(1) .flex-container {
  justify-content: space-around;
  margin-top: 40px;
}

.footer
  .full-background-color-black
  .tile:nth-child(1)
  .flex-container
  i:hover {
  color: #3ab54a;
  cursor: pointer;
}

.footer .full-background-color-black .tile:nth-child(4) i {
  color: #3ab54a;
  margin-right: 15px;
  margin-bottom: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.footer .full-background-color-darkblack {
  background-color: #000000;
  height: 120px;
  color: #b3b3b3;
  margin-top: 0;
}

.footer .full-background-color-darkblack .flex-container {
  height: 120px;
  align-items: center;
  justify-content: center;
}

.footer p {
  margin: 0 50px;
  text-align: center;
}

.footer .forth-tile .flex-container {
  margin-bottom: 22px;
}

.footer .forth-tile .flex-container p {
  margin: 0 0;
  text-align: left;
}

.footer .forth-tile-wrapper {
  text-align: center;
}

/* ///////////////..... ABOUT ...../////////////*/
/* ////////////.... heading .... /////////// */
.section-heading {
  height: 450px;
  align-items: center;
}

.section-heading h2 {
  color: #3ab54a;
  font-size: 5rem;
  margin: 20px auto;
  text-align: center;
}

.section-heading h2::after {
  content: "";
  display: block;
  width: 100px;
  border-top: 8px solid black;
  margin: 20px auto;
}
/* ////////////.... company .... /////////// */
.about-company {
  min-height: 420px;
}

.about-company .flex-container {
  position: relative;
}

.about-company .green-box {
  position: absolute;
  height: 105px;
  width: 430px;
  background-color: #3ab54a;
  left: 190px;
  top: 255px;
}

.about-company .green-box p {
  font-size: 1.3rem;
  color: white;
  padding: 30px 38px;
}

.about-company .left-tile {
  flex: 48%;
  background-image: url("../images/img/skyscaper_from_above2.jpg");
  background-position: center;
  background-size: cover;
  height: 420px;
}

.about-company .right-tile {
  flex: 48%;
  padding-left: 70px;
}

.right-tile {
  color: #666666;
}

.right-tile .two-color-h3 {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 2rem;
}

.right-tile .two-color-h3 h3 {
  font-weight: 900;
}

.right-tile .text p:nth-child(1) {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1.125rem;
}

.right-tile .text p:nth-child(2) {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: black;
}

.roboto-italic-16 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1rem;
}

/* ////////////.... team .... ///////////  */
.about-team {
  margin-top: 215px;
}

.about-team .team-tile {
  border-bottom: 4px solid #3ab54a;
}

.about-team .two-color-h3 {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 2rem;
}

.about-team .two-color-h3 h3 {
  font-weight: 900;
}

.about-team .container .flex-container:nth-child(2) {
  flex-wrap: wrap;
  justify-content: center;
}

.about-team .flex-container .team-tile {
  max-width: 370px;
  margin: 10px;
}

.about-team .wrapper {
  height: 370px;
  width: 370px;
  border: 1px solid black;
}

.about-team img {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
}

.lato-bold-21 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: black;
  margin-top: 30px;
}

.team-tile p:last-child {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #666666;
  margin-top: 0;
  margin-bottom: 30px;
}

.about-team .container-backgroud {
  background-color: #f6fff7;
  margin-top: 180px;
}

.about-team .container-backgroud .flex-container {
  align-items: center;
  justify-content: space-between;
  margin: auto auto;
  height: auto;
}

.about .footer .full-background-color {
  margin-top: 0;
}

/* ///////////////..... SERVICES  ...../////////////*/

.services .container-backgroud {
  background-color: #f6fff7;
  padding-top: 120px;
  padding-bottom: 140px;
}

.business-solutions {
  margin-bottom: 300px;
}

.services .right-tile {
  padding-left: 30px;
}

.services .left-tile {
  align-self: end;
}

.services .right-tile .two-color-h3 {
  justify-content: left;
  margin-bottom: 70px;
}

.tick-with-text {
  margin: 30px 0 30px 0;
}

.tick-with-text i {
  color: #3ab54a;
  margin-right: 20px;
}

.two-color-h3-centered h3 {
  font-size: 2rem;
  font-weight: 900;
}
/* /////////////////////.... pricing....////////////// */

.pricing-tiles {
  justify-content: space-around;
  flex-wrap: wrap;
}

.pricing-tile {
  border: 1px solid rgb(225, 225, 225);
  background-color: white;
  text-align: center;
  padding: 30px 30px;
  margin: 10px;
  /* flex: 30%; */
}

.pricing-tile p:nth-child(1) {
  color: #666666;
  margin: 0px 30px 10px 30px;
}

.pricing-tile > p:nth-child(2) {
  font-size: 2.7rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.pricing-tile p:nth-child(3) {
  color: #a7a7a7;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 50px;
}

.tick-and-text {
  margin: 20px 0;
}

.pricing-tile i {
  color: #3ab54a;
  margin-right: 15px;
  align-self: center;
}

.pricing-tile .btn {
  width: 290px;
  margin-top: 50px;
}

.pricing-tile.highlighted {
  background-color: #3ab54a;
  color: white;
}

.pricing-tile.highlighted {
  background-color: #3ab54a;
  color: white;
  position: relative;
}

.pricing-tile.highlighted p:nth-child(1) {
  color: white;
}

.pricing-tile.highlighted p:nth-child(3) {
  color: white;
}

.pricing-tile.highlighted i {
  color: white;
}

.pricing-tile.highlighted .btn {
  background-color: black;
}

.yellow-box {
  height: 45px;
  width: 296px;
  background-color: #fff700;
  position: absolute;
  top: -25px;
}

.yellow-box span {
  color: black;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  font-weight: 500;
  margin-top: 14px;
  letter-spacing: 1px;
}

/* ///////////////////.... client says ....////////////// */

.flex-reviews {
  flex-wrap: wrap;
  margin-bottom: 0;
  justify-content: center;
}

.client-says-tile {
  border: 1px solid rgb(225, 225, 225);
  max-width: 560px;
  min-width: 450px;
  padding: 30px 30px;
  position: relative;
  margin: 10px;
  flex: 45%;
  height: 300px;
}

.client-says-tile-container {
  flex-direction: column;
}

.client-says-tile-container p {
  min-height: 120px;
}

.client-says-tile-container .tile-footer {
  height: 100px;
}

.client-says-tile i {
  position: absolute;
  font-size: 100px;
  color: #e2e2e2;
  z-index: -1;
}

.client-says-tile .roboto-italic-27 {
  margin-bottom: 25px;
}

/* //////////////////..... NEWS .....//////////////////*/

.container-790 {
  max-width: 790px;
  margin: 0 auto;
  /* height: 400px; */
}

.single-news .wrapper img {
  width: 100%;
  height: 630px;
  object-fit: cover;
}

.lato-700-36 {
  font-size: 2.25rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.news-icons i {
  color: #3ab54a;
  margin-right: 10px;
}

.news-icons p {
  margin-right: 35px;
}

.single-new .news-icons {
  margin: 30px 0;
}

.color-grey {
  color: #888888;
}

.first-letter-large {
  font-size: 6rem;
  color: black;
  margin-right: 20px;
  font-family: "Open Sans", sans-serif;
}

.single-new .container-790 h4 {
  color: black;
}

.single-new .container-790 .text p {
  margin-bottom: 25px;
}

.large-letter-and-text p {
  margin-bottom: 0;
  align-self: center;
}

.single-new .next-to-letter-large {
  margin-top: 30px;
}

.lato-700-24 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

.list-spacing h4 {
  margin-top: 40px;
  margin-bottom: 20px;
}

.list-spacing li {
  margin: 10px 0;
  margin-left: 17px;
}

.opensans-400-16 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.list-spacing ul {
  margin-bottom: 50px;
}

.single-new .text-header {
  margin-top: 0px !important;
  margin-bottom: 60px;
}

.single-news .footer {
  margin-top: 150px;
}

/* //////////////////..... CONTACT .....//////////////////*/
.section-body .map-wrapper {
  margin-bottom: 100px;
}
.opensans-400-italic-16 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
}

.contact-form-container {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.contact-form-container .left-side-main {
  flex: 25%;
  margin-right: 20px;
}

.contact-form-container .right-side-main {
  flex: 60%;
  margin-left: 20px;
}

.contact-form-container img {
  width: 100%;
  height: auto;
}

.contact-form {
  margin-bottom: 100px;
}

.contact-green-box {
  background-color: #f6fff7;
  padding: 40px 40px;
  max-width: 570px;
  flex-wrap: wrap;
  place-content: center;
  text-align: center;
}

.contact-green-box .left-side {
  margin-bottom: 50px;
}

.contact-green-box .right-side {
  margin-bottom: 20px;
}

.contact-green-box .custom-flex {
  max-width: 210px;
  flex: 60%;
}

.contact-green-box i {
  font-size: 60px;
  color: #3ab54a;
}

.contact-green-box .header {
  margin-bottom: 30px;
}

.contact-green-box .body {
  margin-bottom: 30px;
}

.contact .contact-form-styling {
  border: 1px solid rgb(151, 151, 151);
  padding: 20px 25px;
  border-radius: 5px;
  width: 100%;
  margin: 15px 0;
}

.right-side-main h2 {
  margin-bottom: 30px;
  margin-top: 20px;
}

.contact .footer .full-background-color-green {
  margin-top: 30px;
}

.space-between {
  justify-content: space-between;
}

.contact-form-container .right-side .footer p:last-child {
  margin-left: 25px;
  margin-right: 50px;
}

.a-without-styling {
  text-decoration: none;
}

/* //////////////////..... THANKYOU .....//////////////////*/

.thankyou {
  height: 80vh;
  padding-top: 13vh;
}

.thankyou .flex-container {
  flex-direction: column;
  place-content: center;
}

.thankyou h5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
}

.th .footer {
  width: 100%;
}

/* //////////////..... FANCY APP .....////////////// */

#cardSlider {
  --carousel-button-bg: #fff;

  --carousel-button-width: 38px;
  --carousel-button-height: 38px;

  --carousel-button-svg-width: 17px;
  --carousel-button-svg-height: 17px;

  --carousel-button-svg-stroke-width: 3;
  --carousel-button-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.carousel__slide {
  width: 390px;
}

.carousel__button {
  background-color: #3ab54a;
  border: 2px solid #3ab54a;
  color: white;
}

.carousel__button.is-next {
  top: 59%;
  right: -68px;
}

.carousel__button.is-prev {
  top: 59%;
  left: -68px;
}

.carousel__dots {
  top: calc(95% + 0.5rem);
}

.about .carousel__dots {
  top: calc(104% + 0.5rem);
}

.client-says .carousel__slide {
  width: 590px;
  min-height: 400px;
}

/* ////////////////.....RESPONSIVE.....///////////// */
/* ////////////.... medium..../////////// */

@media screen and (max-width: 1320px) {
  .carousel__button.is-next {
    right: 50%;
    margin-right: -120px;
    top: 99%;
    z-index: 1;
  }

  .carousel__button.is-prev {
    left: 50%;
    margin-left: -120px;
    top: 99%;
    z-index: 1;
  }

  .about .carousel__button.is-prev {
    left: 50%;
    margin-left: -120px;
    top: 107%;
    z-index: 1;
  }

  .about .carousel__button.is-next {
    right: 50%;
    margin-right: -120px;
    top: 107%;
    z-index: 1;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1170px;
    padding: 0 50px;
    width: 100%;
  }

  .hero {
    margin-bottom: 100px;
  }

  .hero .container h1 {
    padding: 250px 0 0 0;
    margin-bottom: 25px;
    text-align: center;
  }

  .hero-header p {
    padding: 0px 0;
    text-align: center;
  }

  .flex-container-nav {
    width: 70%;
    justify-content: space-between;
    margin-left: 50px;
  }

  .flex-container-hero-buttons {
    justify-content: center;
  }

  .hero-footer p {
    padding: 0 50px 50px 50px;
  }

  .hero-footer h3 {
    padding: 30px 20px 30px 50px;
  }
  .index .about {
    margin-top: 150px;
  }

  .services-tile {
    padding-right: 20px;
  }
  .services header img {
    margin-right: 35px;
  }

  .services .business-solutions img {
    margin-right: 35px;
    width: 100%;
    height: auto;
  }

  .about .header-two-tiles h2 {
    font-size: 2.45rem;
    align-self: center;
    text-align: center;
    padding-right: 20px;
  }

  .about .header-two-tiles p {
    align-self: center;
    padding-top: 0px;
  }

  .green-box,
  .about .container-background img {
    display: none;
  }

  .company-value-right-tile {
    align-self: center;
  }

  .company-value-left-tile {
    padding-left: 50px;
  }

  .company-value-wrapper {
    display: inline-block;
  }

  .about-background {
    text-align: center;
  }

  .about-text .two-color-h3 {
    justify-content: center;
  }

  .customer-image .text {
    padding: 100px 100px;
  }

  .footer .left-tile p {
    padding-right: 100px;
  }

  .footer .full-background-color-green .left-tile h3 {
    padding-right: 130px;
  }

  .news-page .news-tiles {
    justify-content: space-evenly;
  }

  .contact .section-body {
    padding: 0 50px;
  }

  .contact .section-body .map-wrapper img {
    width: 100%;
    height: auto;
  }

  .contact .contact-form-container {
    flex-wrap: nowrap;
  }

  .contact-green-box {
    padding: 40px 10px;
    margin-right: 30px;
  }
}

/* ////////////.... small ..../////////// */

@media screen and (max-width: 930px) {
  .footer-container {
    flex-wrap: wrap;
  }

  .footer .full-background-color-black > .container {
    justify-content: center;
  }

  .footer-container .fist-tile,
  .footer-container .second-tile {
    max-width: 350px;
    flex: 50%;
    margin-top: 30px;
  }

  .footer .full-background-color-black .tile {
    max-width: 350px;
  }
  .footer-container .third-tile,
  .footer-container .forth-tile {
    flex: 50%;
    margin: 50px 0;
  }

  .second-tile-wrapper,
  .third-tile-wrapper {
    margin: 0 auto;
    width: 170px;
  }

  .first-tile-wrapper,
  .forth-tile-wrapper {
    width: 230px;
    margin: 0 auto;
  }

  .footer-container .first-tile {
    width: 50%;
    order: 1;
    align-self: center;
    min-width: 220px;
  }

  .footer-container .second-tile {
    order: 2;
  }

  .footer-container .third-tile {
    order: 4;
  }

  .footer-container .forth-tile {
    order: 3;
    min-width: 230px;
  }

  .footer .full-background-color-black > .container {
    padding-top: 60px;
  }

  .footer .full-background-color-green .left-tile h3 {
    padding-right: 80px;
  }

  .business-solutions-flex {
    flex-direction: column-reverse;
  }

  .services .business-solutions .flex-container .tile {
    flex: 95%;
  }

  .services .business-solutions .flex-container .left-tile {
    margin-top: 50px;
  }

  .services .right-tile .two-color-h3 {
    justify-content: center;
  }

  .services-tile {
    flex: 45%;
  }

  .contact .contact-form-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact .contact-form-container .left-side {
    width: 100%;
    margin-bottom: 50px;
  }

  .contact .contact-form-container .right-side {
    text-align: center;
  }
}
/* ////////////.... x small..../////////// */

@media screen and (max-width: 768px) {
  header .main-nav {
    display: none;
  }

  header .mobile-nav {
    display: block;
  }

  .hero-footer .right-tile {
    align-self: center;
  }
  .services .services-tiles {
    justify-content: center;
  }

  .customers .section-header {
    padding: 100px 50px 0 50px;
  }

  .customers .section-header p {
    padding: 0 20px 0 20px;
  }

  .customers-footer img {
    flex: 45%;
  }

  .about {
    margin-top: 0px;
  }

  .about .header-number-tiles {
    flex-wrap: wrap;
  }

  .about .header-number-tiles .tile {
    flex: 45%;
    margin-bottom: 30px;
  }

  .footer .full-background-color-green p {
    margin-bottom: 50px;
  }

  .footer .full-background-color-green .right-tile {
    align-self: center;
  }

  .footer .full-background-color-green .right-tile a {
    margin-top: 0px;
  }
}

@media screen and (max-width: 560px) {
  header .flex-container-nav {
    display: none;
  }

  .hero .hero-footer .right-tile {
    display: none;
  }
  .footer .full-background-color-black .tile {
    margin: 30px 0;
  }

  .forth-tile-wrapper h5 {
    padding-left: 30px;
  }

  .hero {
    margin-bottom: 30px;
  }

  .hero .container h1 {
    font-size: 4rem;
    padding: 100px 0 0 0;
  }

  .about .header-two-tiles {
    flex-wrap: wrap;
  }

  .about .header-two-tiles h2 {
    flex: 90%;
  }

  .about .header-two-tiles p {
    margin-top: 30px;
    flex: 90%;
  }

  .about .company-value-left-tile {
    padding-left: 30px;
    padding-right: 40px;
  }

  .about .company-value-left-tile .about-text {
    padding-right: 0px;
  }

  .customers .section-header {
    padding: 100px 10px 0 10px;
  }

  .customers .section-header h2 {
    font-size: 2.5rem;
  }

  .customers .customer-background .text {
    padding: 100px 50px;
  }

  .customers .customer-background .text p {
    font-size: 1.2rem;
  }

  .news .carousel-slide {
    padding: 0 1rem;
  }

  .news .tile-of-news {
    height: auto;
    text-align: center;
  }

  .footer .full-background-color-green .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer .full-background-color-green .container .left-tile {
    flex: 90%;
    text-align: center;
  }

  .footer .full-background-color-green .container .left-tile h3 {
    padding-right: 0;
  }

  .footer .full-background-color-green .container .left-tile p {
    padding-right: 0;
  }

  .footer .full-background-color-black {
    text-align: center;
  }

  .footer .full-background-color-black .forth-tile h5 {
    padding-left: 0;
  }

  .footer .full-background-color-black .forth-tile-wrapper {
    width: 210px;
  }

  .footer-container .third-tile {
    order: 3;
  }

  .footer-container .forth-tile {
    order: 4;
  }

  .footer .full-background-color-black .custom {
    text-align: left;
    margin-bottom: 20px;
  }

  .dummy-logo {
    flex-wrap: wrap;
  }

  .dummy-logo img {
    flex: 45%;
  }

  .about-company .left-tile {
    display: none;
  }

  .about-company .right-tile {
    padding-left: 0;
  }

  .about-company .right-tile .two-color-h3 {
    justify-content: center;
  }

  .about-team {
    margin-top: 150px;
  }

  .about-team .two-color-h3 {
    justify-content: center;
  }

  .services .business-solutions {
    margin-bottom: 100px;
  }

  .services .tick-with-text {
    flex-wrap: wrap;
  }

  .services .pricing-tile {
    padding: 30px 10px;
    margin-bottom: 50px;
  }

  .services .business-solutions .tick-with-text i {
    margin-right: 0;
    align-self: center;
    flex: 15%;
  }

  .services .business-solutions .tick-with-text p {
    flex: 80%;
  }

  .services .right-tile {
    padding-left: 0;
  }

  .client-says-tile img {
    display: none;
    width: auto;
  }

  .client-says-tile p {
    font-size: 1rem;
    padding-right: 0;
  }

  .services .container-backgroud {
    padding-top: 20px;
  }
  .services .container-backgroud {
    padding-bottom: 20px;
  }

  .services .two-color-h3 {
    margin-top: 100px;
  }

  .client-says-tile {
    min-width: auto;
  }

  .news-page .tile-of-news {
    margin-bottom: 150px;
    text-align: center;
  }

  .news-page .tile-of-news .tile-body {
    text-align: justify;
  }

  .services img {
    align-self: center;
  }

  .services .services-tile .text {
    width: 120px;
  }

  .single-new h2 {
    text-align: center;
  }

  .single-new .news-icons {
    flex-wrap: wrap;
    justify-content: center;
  }

  .single-new .news-icons .flex-container {
    margin-bottom: 10px;
    flex: 90%;
  }

  .single-news .wrapper img {
    height: auto;
  }

  .container-background .about-text .two-color-h3 {
    flex-wrap: wrap;
  }

  .contact .section-body {
    padding: 0;
  }

  .contact .contact-form-container {
    padding: 0;
  }

  .contact .contact-form-container .contact-green-box {
    margin-right: 0px;
  }
}

.section-h {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.thankyou .btn-centered {
  margin-top: 80px;
}
